[submodule "components/linux/src"]
	path = components/linux/src
	url = ../muen/linux.git
[submodule "tools/mugenschedcfg"]
	path = tools/mugenschedcfg
	url = ../muen/mugenschedcfg.git
[submodule "components/libxhcidbg"]
	path = components/libxhcidbg
	url = ../libxhcidbg.git
	branch = muen
[submodule "components/tau0-static"]
	path = components/tau0-static
	url = ../muen/tau0.git
