### muen_integ_config ###

ROOT=$HOME/Builds
LOGDIR=$ROOT/logs/$BUILDID
LOGFILE=$LOGDIR/build.log
LOCK=/tmp/muen-integ.running

DO_CLEAN_WORKDIR=0
CHECK_HEAD=0

# mail settings
RECIPIENTS="reet@codelabs.ch ken@codelabs.ch"
SENDER="muen.builder@gmail.com"

# seconds to wait for bochs target to boot
BOOTWAIT_BOCHS=40

# seconds to wait for hardware target to boot
HW_BOOTWAIT=110
