@import url('http://fonts.googleapis.com/css?family=Lato:700,300');
@import url('http://fonts.googleapis.com/css?family=Source+Code+Pro');

html, body {
   padding: 0px;
   margin: 0px;
}

body {
   background: url("bg.jpg") repeat scroll 0% 0% white;
   padding: 0px;
   margin: 0px;
   color: rgba(0, 0, 0, 0.9);
   box-shadow: 0px 0px 18.75em rgba(0, 0, 0, 0.5) inset;
   font-family: 'Lato', sans-serif;
   font-weight: 300;
}

h1 {
   font-weight: 300;
   font-size: 2.5em;
   margin: 0px;
   display: inline-block;
   margin-left: 20px;
}

h2 {
   padding: 13px 20px;
   font-size: 1.5em;
   border-radius: 10px 10px 0px 0px;
   margin: 0px;
   background: none repeat scroll 0% 0% rgba(255, 0, 0, 0.9);
}

.paragraph .image {
   margin: 0.5em 0.5em 0.5em 0em;
   padding-right: 0.9em;
   padding-bottom: 0.5em;
   float: left;
}

.paragraph {
   line-height: 1.5;
   font-size: 1.4em;
}

table {
   width: auto;
   border-radius: 5px;
   border-collapse: separate;
   border-spacing: 0.3em;
   border-style: none;
}

td {
   padding: 1em;
   border-style: none;
   border-bottom-radius: 5px;
   background-color: rgba(255, 0, 0, 0.1);
}

.admonitionblock {
   background-color: rgba(255, 0, 0, 0.9);
   padding: 1em 1em;
   margin: 1em auto;
   max-width: 80%;
   box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.15) inset, 0px 0px 1.25em rgba(0, 0, 0, 0.5);
   border-radius: 10px;
}

.icon {
   vertical-align: middle;
}

.icon .title {
   font-weight: 900;
   font-size: 1.3em;
   padding-right: 0.5em;
   display: inline-block;
}

.icon .content {
   display: inline-block;
}


.logo {
   margin-left: 2em;
   margin-right: 1.5em;
}

.logo img {
   height: 4.5em;
   vertical-align: middle;
   float: left;
}

.header, .footer {
   background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.8);
   box-shadow: 0px 0px 1.25em rgba(0, 0, 0, 0.8);
   padding-top: 1em;
   width: 100%;
   min-width: 1000px;
}

.ulist ul li {
   font-size: 1.2em;
}

.ulist ul {
   list-style: square;
}

li.toc {
   display: inline-block;
   padding: 0.5em;
   padding-left: 0.8em;
   padding-right: 0.8em;
   border-radius: 0px;
   text-decoration: none;
   color: rgba(0, 0, 0, 0.9);
}

li.toc:hover {
   background-color: rgb(255, 0, 0);
   text-decoration: none;
   border-radius: 0px 0px 0.3em 0.3em;
}

a.toc {
   color: rgba(0, 0, 0, 0.8);
   text-decoration: none;
   background: none;
}

a:link.toc {
   padding: 0px;
}

ul.toc {
   border-top-style: solid;
   border-color: red;
   list-style-type: none;
   padding-left: 20px;
}

#_references + .sectionbody .ulist ul {
   list-style: none;
   margin-left: -2em;
}

a:link {
   padding: 3px;
   border-radius: 3px;
   text-decoration: underline;
   color: rgba(0, 50, 120, 0.5);
   display: inline-block;
}

a:hover {
   background-color: rgba(0, 0, 0, 0.1);
}

a.anchor {
   text-decoration: none;
}

a.anchor:hover {
   text-decoration: none;
   background: none;
}

.sect1, #preamble {
   text-align: justify;
   width: 1000px;
   background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.7);
   box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.15) inset, 0px 0px 1.25em rgba(0, 0, 0, 0.5);
   border-radius: 10px;
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-top: 2em;
   margin-bottom: 2em;
}

.sectionbody {
   padding-left: 1.5em;
   padding-right: 1.5em;
   padding-top: 0.5em;
   padding-bottom: 0.5em;
}

pre {
   font-family: 'Source Code Pro', monospace;
   line-height: 1.8;
   background-color: rgba(255, 0, 0, 0.1);
   padding: 1em 1em;
   max-width: 95%;
   border-radius: 10px;
}

#footer-text {
   padding: 1em;
   text-align: right;
   color: rgba(0, 0, 0, 0.2);
}

.clear {
   clear: both;
}

.logos {
   float: right;
   margin-right: 1em;
}

.logos .hsr, .logos .swissmade {
   padding: 0.5em;
   display: inline-block;
}

.logos .hsr a:hover {
   background-color: rgba(255, 255, 255, 0.5);
}

.logos .swissmade a:hover {
   background-color: rgba(255, 255, 255, 0.5);
}

.logos .hsr img, .logos .swissmade img {
   height: 4em;
}

.subtitle {
   color: rgb(255, 0, 0);
   font-weight: 700;
   padding-left: 20px;
}

.titles {
   display: inline-block;
}

a {
   outline: 0;
}

@media print {

   body {
      background-color: transparent;
      box-shadow: none;
      font-size: 12pt;
      color: black;
   }

   .header,
   .footer,
   .sect1,
   #preamble {
      box-shadow: none;
   }

   .header {
      padding: 0px;
      padding-bottom: 2px;
   }

   .admonitionblock {
      box-shadow: none;
      border-style: solid;
      border-color: black;
      border-width: 2px;
   }

   pre {
      border-style: solid;
      border-color: black;
      border-width: 2px;
   }

   ul.toc {
      list-style-type: decimal;
      margin-top: 2em;
      margin-left: 2em;
   }

   li.toc {
      display: inline;
      padding: 0em;
      border-top-style: none;
   }

   .sect1, #preamble {
      margin: 0em;
   }

   a:link {
      color: blue;
   }

   table {
      border-radius: 0px;
      border-collapse: none;
      border-spacing: 0em;
      border-width: 2px;
   }

   td {
      border-radius: 0px;
      border-style: solid;
      border-width: 2px;
   }

}
