@import url('https://fonts.googleapis.com/css?family=Lato:700,300');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

html, body {
   padding: 0px;
   margin: 0px;
   overflow: auto;
}

body {
   background: url("bg.jpg") repeat scroll 0% 0% white;
   padding: 0;
   margin: 0;
   color: rgba(0, 0, 0, 0.9);
   box-shadow: 0 0 6em rgba(0, 0, 0, 0.5) inset;
   font-family: 'Lato', sans-serif;
}

h1 {
   font-weight: bold;
   margin: 0px;
   margin-left: 5px;
}

h2 {
   color: white;
   font-weight: normal;
   font-size: 125%;
   padding: 6px 12px;
   border-radius: 10px 10px 0px 0px;
   margin: 0px;
   background: none repeat scroll 0% 0% rgb(34, 128, 177);
}

p {
   -webkit-hyphens: auto;
   -moz-hyphens: auto;
   -ms-hyphens: auto;
   hyphens: auto;
}

.paragraph .image {
   margin: 0.5em 0.5em 0.5em 0em;
   padding-right: 0.9em;
   padding-bottom: 0.5em;
   float: left;
}

span.image img {
   width: 460px;
   height: 160px;
}

.paragraph {
   line-height: 1.5;
}

table {
   width: auto;
   border-radius: 5px;
   border-collapse: separate;
   border-spacing: 0.3em;
   border-style: none;
}

td {
   padding-left: 1em;
   padding-right: 1em;
   border-style: none;
   background-color: rgba(105, 180, 249, 0.3);
}

.admonitionblock {
   padding: 1.5em 1.5em;
}

.icon {
   vertical-align: middle;
}

.icon .title {
   font-weight: 900;
   font-size: 1.3em;
   padding-right: 0.5em;
   display: inline-block;
}

.icon .content {
   display: inline-block;
}

.logo {
   float: left;
   margin-left: 1.5em;
   margin-top: 1em;
   width: 80px;
   height: 80px;
}

.logo img {
   width: 100%;
   height: 100%;
}

.header, .footer {
   background: none repeat scroll 0% 0% rgb(245, 245, 245);
   box-shadow: 0px 0px 1.25em rgba(0, 0, 0, 0.8);
   width: 100%;
}

.header {
   position: fixed;
   top: 0;
   padding-top: 1em;
}

.footer {
   height: 50px;
}

.ulist ul {
   list-style: square;
}

.anchor {
   display: block;
   height: 8em;
   margin-top: -8em;
   visibility: hidden;
   text-indent: -1000px;
}

.body {
   padding-top: 9em;
}

.toc_block {
   margin-top: 1em;
   background-color: rgb(34, 128, 177);
   white-space: nowrap;
}

.toc_entry {
   display: inline-block;
   padding: 0.5em;
   font-size: 105%;
}

.toc_entry:hover {
   background-color: rgba(105, 180, 249, 0.6);
   border-radius: 0 0 0.3em 0.3em;
}

a.toc, a:link.toc {
   padding: 0;
   color: white;
   background: none;
   text-decoration: none;
}

a:link {
   padding: 3px;
   border-radius: 3px;
   text-decoration: underline;
   color: rgba(0, 50, 120, 0.5);
   display: inline-block;
}

a:hover {
   background-color: rgba(0, 0, 0, 0.1);
}

.sect1, #preamble {
   text-align: justify;
   width: 90%;
   background: white;
   box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.15) inset, 0px 0px 1.25em rgba(0, 0, 0, 0.5);
   border-radius: 10px;
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-top: 1em;
   margin-bottom: 1em;
}

.sectionbody {
   padding-left: 1.5em;
   padding-right: 1.5em;
   padding-top: 0.5em;
   padding-bottom: 0.5em;
}

pre {
   font-family: 'Source Code Pro', monospace;
   line-height: 1.8;
   background-color: rgba(105, 180, 249, 0.3);
   padding: 1em 1em;
   border-radius: 10px;
   overflow: hidden;
}

#footer-text {
   padding-right: 1em;
   padding-top: 1.3em;
   float: right;
   font-size: 80%;
   color: rgba(0, 0, 0, 0.5);
}

#footer-badges {
   padding-top: 0.4em;
   padding-left: 1em;
   float: left;
}

.logos {
   float: right;
   margin-right: 1em;
}

.logos .hsr, .logos .swissmade {
   display: inline-block;
}

.logos a:hover {
   background-color: transparent;
}

.logos .hsr img, .logos .swissmade img {
   height: 60px;
}

.subtitle {
   color: gray;
   font-weight: 700;
   padding-left: 20px;
}

.titles {
   display: inline-block;
}

a {
   outline: 0;
}

strong {
   font-weight: bold;
}

@media print {

   body {
      background-color: transparent;
      box-shadow: none;
      color: black;
   }

   h2 {
      color: black;
      padding: 0;
      padding-top: 0.5em;
   }

   .header,
   .footer,
   .sect1,
   #preamble {
      width: 95%;
      box-shadow: none;
   }

   .sectionbody {
      padding: 0;
   }

   .header {
      padding: 0;
      padding-bottom: 2px;
   }

   .admonitionblock {
      box-shadow: none;
      border-style: solid;
      border-color: black;
      border-width: thin;
   }

   pre {
      border-style: solid;
      border-color: black;
      border-width: thin;
   }

   a:link.toc {
      display: block;
      color: black;
      text-decoration: none;
   }

   a:link {
      color: blue;
   }

   table {
      margin: 0 auto;
      width: 95%;
   }

   td {
      border-style: solid;
      border-width: thin;
   }

   span.image img {
      max-width: 80%;
   }

   .paragraph .image {
      float: none;
   }

   #footer-badges {
      display: none;
   }

   ul {
      text-align: left;
   }

   .toc_block {
      display: none;
   }
}
