<?xml version="1.0"?>
<!DOCTYPE system [
<!ENTITY hardware   SYSTEM "hardware/__HARDWARE__.xml">
<!ENTITY kernel     SYSTEM "example_kernel.xml">
<!ENTITY binaries   SYSTEM "example_binaries.xml">
<!ENTITY scheduling SYSTEM "example_scheduling.xml">
<!ENTITY tau0init   SYSTEM "tau0.xml">
<!ENTITY tau0mem    SYSTEM "tau0_mem.xml">
<!ENTITY dumperinit SYSTEM "dumper.xml">
<!ENTITY dumpermem  SYSTEM "dumper_mem.xml">
<!ENTITY subjainit  SYSTEM "subject_a.xml">
<!ENTITY subjamem   SYSTEM "subject_a_mem.xml">
<!ENTITY subjbinit  SYSTEM "subject_b.xml">
<!ENTITY subjbmem   SYSTEM "subject_b_mem.xml">
<!ENTITY vtinit     SYSTEM "vt.xml">
<!ENTITY vtmem      SYSTEM "vt_mem.xml">
<!ENTITY idleinit   SYSTEM "idle.xml">
<!ENTITY idlemem    SYSTEM "idle_mem.xml">
]>
<system vmxon_address="1000" vmcs_start_address="5000">
	&hardware;
	&kernel;
	&binaries;

	<subjects>
		<subject id="0" name="tau0" profile="native" cpu="3" pml4_address="210000" io_bitmap_address="214000" msr_bitmap_address="216000">
			&tau0init;
			<memory_layout>
				&tau0mem;
				<!-- τ0 => kernel interface page -->
				<memory_region physical_address="1ff000" virtual_address="4000" size="4k" alignment="4k" writable="true"  executable="false" memory_type="UC"/>
			</memory_layout>
			<binary name="tau0" physical_address="217000"/>
		</subject>

		<subject id="1" name="dumper" profile="native" cpu="1" pml4_address="230000" io_bitmap_address="234000" msr_bitmap_address="236000">
			&dumperinit;
			<memory_layout>
				&dumpermem;
				<!-- subject state descriptors  -->
				<memory_region physical_address="1fe000" virtual_address="1fe000" size="4k" alignment="4k" writable="true" executable="false" memory_type="UC"/>
				<!-- virtual terminal console 3 -->
				<memory_region physical_address="240000" virtual_address="b8000" size="4k" alignment="4k" writable="true" executable="false" memory_type="UC"/>
			</memory_layout>
			<binary name="dumper" physical_address="237000"/>
			<signal_table>
				<entry kind="handover" signal="3" dst_subject="subject_b"/>
			</signal_table>
		</subject>

		<subject id="2" name="subject_a" profile="native" cpu="1" pml4_address="250000" io_bitmap_address="254000" msr_bitmap_address="256000">
			&subjainit;
			<memory_layout>
				&subjamem;
				<!-- virtual terminal console 1 -->
				<memory_region physical_address="260000" virtual_address="b8000" size="4k" alignment="4k" writable="true" executable="false" memory_type="UC"/>
			</memory_layout>
			<binary name="subject_a" physical_address="257000"/>
		</subject>

		<subject id="3" name="subject_b" profile="native" cpu="1" pml4_address="270000" io_bitmap_address="274000" msr_bitmap_address="276000">
			&subjbinit;
			<memory_layout>
				&subjbmem;
				<!-- virtual terminal console 2 -->
				<memory_region physical_address="280000" virtual_address="b8000" size="4k" alignment="4k" writable="true" executable="false" memory_type="UC"/>
			</memory_layout>
			<binary name="subject_b" physical_address="277000"/>
			<trap_table>
				<entry kind="exception_or_nmi" dst_subject="dumper" dst_vector="35"/>
			</trap_table>
		</subject>

		<subject id="4" name="vt" profile="native" cpu="0" pml4_address="290000" io_bitmap_address="294000" msr_bitmap_address="296000">
			&vtinit;
			<memory_layout>
				&vtmem;
				<!-- virtual terminal console 6 -->
				<memory_region physical_address="29f000" virtual_address="b9000" size="4k" alignment="4k" writable="true" executable="false" memory_type="UC"/>

				<!-- virtual terminals 1-6      -->
				<memory_region physical_address="260000" virtual_address="10000" size="4k" alignment="4k" writable="false" executable="false" memory_type="UC"/>
				<memory_region physical_address="280000" virtual_address="11000" size="4k" alignment="4k" writable="false" executable="false" memory_type="UC"/>
				<memory_region physical_address="240000" virtual_address="12000" size="4k" alignment="4k" writable="false" executable="false" memory_type="UC"/>
				<memory_region physical_address="29f000" virtual_address="15000" size="4k" alignment="4k" writable="false" executable="false" memory_type="UC"/>
			</memory_layout>
			<binary name="vt" physical_address="297000"/>
			<device name="vga"/>
			<device name="keyboard"/>
			<msr start="802" end="802" mode="r"/>
		</subject>

		<subject id="5" name="idle" profile="native" cpu="2" pml4_address="310000" io_bitmap_address="314000" msr_bitmap_address="316000">
			&idleinit;
			<memory_layout>
				&idlemem;
			</memory_layout>
			<binary name="idle" physical_address="317000"/>
		</subject>
	</subjects>

	&scheduling;
</system>
